body{
    margin: auto;
    width: 50%;
    height: auto;
    font-family: 'Libre Baskerville';
    background-image: url('./imgs/potw2402a-1.jpg');
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    color: floralwhite;
}

.mydetails {
    align-items: center;
    display: block;
}

.name {
    font-size: 3em;
}
.myimg {
    margin-top: 150px;
    border: 5px solid whitesmoke;
    border-radius: 50%;
    margin-bottom: 20px;
}
.mydetails_text {
    margin-top: 70px;
    align-items: center;
    font-size: 1.3em;
    text-align: justify;
    text-justify: inter-word;
}

.footer_text {
    margin-top: 100px;
    font-size: 0.75em;
}

.reasearch_activities {
    align-items: center;
    display: block;
    margin-top: 70px;
}

.research_name {
    font-size: 2em;
}

.research_cards {
    margin-top: 20px;
    align-items: center;
    background-color: transparent;
    opacity: 1;
    /* border-color: lightgray; */
    box-shadow: -3px 0 lightslategray, 0 3px lightslategray, 3px 0 lightslategray, 0 -3px lightslategray;
}
.research_cards:hover {
    top: -10px;
}
.card-title {
    font-size: 1.5em;
}
.card-text {
    font-size: 1em;
}
.card-text-small {
    font-size: 0.7em;
}
.card-text-links {
    font-size: 0.85em;
}
.card-img {
    margin: auto;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    text-align: center;
    align-items: center;
}

.blink_me {
    animation: blinker 1s linear infinite;
    color: yellow;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
}
.btn {
    background-color: transparent;
    border-color: lightseagreen;
}
